<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Reporting Hack <%= @hack.name %></h1>
    <p>Use this form to flag a hack for removal from the database. Please provide an explaination requiring the removal of the reported hack. If you are requesting removal for legal reasons or on copyright grounds please send an email to admin@sm64hacks.com. We cannot process legal & copyright requests through this form! Due to the volume of reports we cannot provide a personal response to reports made through this form and we do not collect information about who submitted a report.</p>
    <hr />
        <%= form_for(:report, url: "/hack/report/#{@hack.id}") do |f| %>
            <div class="form-group">
                <label for="reason"><strong>Reason:</strong></label><br />
                <%= f.text_area :reason, :placeholder => "Reason", required: true, class: "form-control" %>
            </div>
            <%= f.hidden_field :hack_id, value: @hack.id %>
            <%= f.submit "Submit Report", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
