<div class="alert alert-info" role="alert" id="everdrive-alert">
  Everdrive Compatibility information is currently hidden as it's misleading in its current form. We hope to add a new compatibility system soon.
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center"><%= @hack.name %></h1>
    <p class="lead text-center"><%= @hack.description %></p>
    <% if @hack.youtube_url %>
        <% if @hack.youtube_url != "" %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @hack.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 25%;"></iframe>
        <% end %>
    <% end %>
    <hr>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Creator</th>
                <th scope="col">Difficulty</th>
                <th scope="col">Total Stars</th>
                <th scope="col">Required Stars</th>
                <th scope="col">Download</th>
                <% if @hack.fandom_link %>
                    <% if @hack.fandom_link != "" %>
                        <th scope="col">Wiki Page</th>
                    <% end %>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @hack.creator %></td>
                <td><%= @hack.difficulty %> / 5</td>
                <td><%= @hack.total_stars %></td>
                <td><%= @hack.required_stars %></td>
                <td><a href="<%= @hack.download_url %>" class="btn btn-primary">Download Recommended Version</a></td>
                <% if @hack.fandom_link %>
                    <% if @hack.fandom_link != "" %>
                        <td><a href="<%= @hack.fandom_link %>" class="btn btn-primary">Mario64Hacks Wiki Page</a></td>
                    <% end %>
                <% end %>
            </tr>
        </tbody>
    </table>
    <hr>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Version</th>
                <th scope="col">Comment</th>
                <th scope="col">Contributors</th>
                <!--<th scope="col">Everdrive Compatible</th>-->
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if @downloads %>
                <% @downloads.each do |item| %>
                    <tr>
                        <td><a href="<%= item.download_url %>"><%= item.version %></a></td>
                        <td><%= item.comment%></td>
                        <td><%= item.contributors%></td>
                        <!--<td><%= item.everdrive%></td>-->
                        <td><%= item.release_date%></td>
                        <% if current_user %>
                            <% if current_user.admin %>
                                <td><a href="/hack/version/edit/<%= item.id %>" class="btn btn-primary">Edit</a> <a href="/hack/version/delete/<%= item.id %>" class="btn btn-primary">Delete</a></td>
                            <% else %>
                                <td></td>
                            <% end %>
                        <% else %>
                            <td></td>
                        <% end %>
                    </tr>
                <% end%>
                <tr>
                    <% if current_user %>
                        <% if current_user.admin %>
                            <td><a href="/hack/version/add/<%=@hack.id%>" class="btn btn-primary">Add Version</a></td>
                        <% else %>
                            <td></td>
                        <% end %>
                    <% else %>
                        <td></td>
                    <%end %>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% else %>
                <tr>
                    <% if current_user %>
                        <% if current_user.admin %>
                            <td>
                                There are no versions of this ROM Hack <a href="/hack/version/add/<%=@hack.id%>">add one</a>?
                            </td>
                        <% else %>
                            <td></td>
                        <% end %>
                    <% else %>
                        <td></td>
                    <% end %>
                </tr>
            <% end%>
        </tbody>
    </table>
    <hr>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Tool</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <% if current_user %>
                <% if current_user.admin %>
                    <tr>
                        <td><a href="/hack/edit/<%=@hack.id%>">Edit Hack</a></td>
                        <td>Edits the hack.</td>
                    </tr>
                    <tr>
                        <td><a href="/hack/delete/<%=@hack.id%>">Delete Hack</a></td>
                        <td>Deletes the hack and all of its version data from the database.</td>
                    </tr>
                <% end %>
            <% end %>
            <tr>
                <td><a href="/hack/report/<%=@hack.id%>">Report Hack</a></td>
                <td>Reports the hack to the database administrator.</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>